<body class="bg-light">
    <div class="panel panel-primary">
        <div class="panel-heading">
          <h2>Show forms</h2>
        </div>
        <div class="panel-body">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>project name</th>
                <th>student name</th>
                <th>date</th>
                <th>time</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let employee of formulaire | async">
                <td>{{employee.project_Name}}</td>
                <td>{{employee.student_Name}}</td>
                <td>{{employee.date}}</td>
                <td>{{employee.time}}</td>
                <td><button (click)="deleteEmployee(employee._id)" class="btn btn-danger">Delete</button>
                    <button (click)="updateEmployee(employee._id)" class="btn btn-info" style="margin-left: 10px">Update</button>
                    <button (click)="employeeDetails(employee._id)" class="btn btn-info" style="margin-left: 10px">Details</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </body>
      <router-outlet></router-outlet>
    
