<div class="container">
  <h1 class="d-flex justify-content-center">Jury management application</h1>
  <h3 class="d-flex justify-content-center"></h3>
  <nav class="navbar navbar-expand-sm bg-primary navbar-dark">
    <!-- Links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a routerLink="formulaire" class="nav-link" routerLinkActive="active">Create Form</a>
    </li>
    <li class="nav-item">
      <a routerLink="show_formulaire" class="nav-link" routerLinkActive="active">Show Forms</a>
  </li>
      <li class="nav-item">
          <a routerLink="jurry" class="nav-link" routerLinkActive="active">Members</a>
      </li>
      <li class="nav-item">
        <a routerLink="add_jurry" class="nav-link" routerLinkActive="active">Add Members</a>
    </li>
    <li class="nav-item">
      <a routerLink="mark" class="nav-link" routerLinkActive="active">Marks</a>
  </li>
    </ul>
  </nav>
  

  <!--app-jurry1></app-jurry1-->
  <router-outlet></router-outlet>
 
</div>






